node_modules

## Uncomment line below if you prefer to
## keep compiled files out of version control
# build/
geo-maps.zip
geo-maps.tar

# Downloaded source data for tools/regions (re-created by the build script).
tools/regions/cache/
.DS_Store
