.geo-map-metabox {
	margin: -6px -12px -12px -12px;
}

.matrixaddons-hide {
	display: none !important;
}

.matrixaddons-tabs {
	position: relative;
}

.matrixaddons-tab-nav {
	display: block;
	position: relative;
	z-index: 10;
	float: left;
	width: 225px;
}

.matrixaddons-tab-nav + .matrixaddons-tab-content {
	margin-left: 225px;
}

.matrixaddons-tab-content {
	position: relative;
	background-color: #fff;
}

.matrixaddons-tab-nav ul {
	clear: left;
	margin: 0;
	list-style-type: none;
	margin-right: -1px;
	margin-bottom: -1px;
}

.matrixaddons-tab-nav ul li {
	margin: 0;
}

.matrixaddons-tab-nav ul li a {
	font-size: 13px;
	position: relative;
	display: block;
	padding: 14px 12px;
	text-decoration: none;
	transition-property: color, background;
	transition-duration: .2s;
	transition-timing-function: ease;
	color: #444;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccd0d4;
	border-right: 1px solid #ccd0d4;
	font-weight: 400;
}

.matrixaddons-tab-nav ul li a.item-active, .matrixaddons-tab-nav ul li a:hover {
	color: #111;
	background-color: #fff;

}

.matrixaddons-tab-nav ul li a.item-active {
	border-right-color: #fff;
}

.matrixaddons-tab-nav ul li a:focus, .matrixaddons-tab-nav ul li a:active, .matrixaddons-tab-nav ul li a:hover {
	outline: none !important;
	box-shadow: none !important;
}

.matrixaddons-tab-sections {
	float: left;
	width: 100%;
}

.matrixaddons-tab-section .matrixaddons-field {
	padding: 20px;
}

.matrixaddons-nav-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 225px;
	background-color: #f5f5f5;
	border-right: 1px solid #ccd0d4;
}

.matrixaddons-repeater-hidden {
	display: none;
}

.matrixaddons-field-group .matrixaddons-repeater-title {
	display: block;
	cursor: pointer;
	position: relative;
	user-select: none;
	margin: 0;
	padding: 15px 65px 15px 10px;
	min-height: 0;
	font-size: 100%;
	border: 1px solid #ccd0d4;
	background-color: #fafafa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	transition: border-color .15s;
}


.matrixaddons-field-group .matrixaddons-repeater-content {
	border: 1px solid #ccd0d4;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 0;
	border-top: 0;
}

.matrixaddons-field .matrixaddons-fieldset {
	float: right;
	width: calc(80% - 20px);
}

.matrixaddons-field-fieldset .matrixaddons-fieldset-content {
	border: 1px solid #ccd0d4;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.matrixaddons-field-fieldset .matrixaddons-fieldset-content > .matrixaddons-field {
	padding: 15px;
}

.matrixaddons-field .matrixaddons-title {
	position: relative;
	width: 20%;
	float: left;
}

.matrixaddons-field-group .matrixaddons-repeater-content > .matrixaddons-field {
	padding: 15px;
}


.matrixaddons-field-group .matrixaddons-repeater-content > .matrixaddons-field {
	padding: 15px;
}

.matrixaddons-field:not(.matrixaddons-field-hidden) + .matrixaddons-field:not(.matrixaddons-field-hidden) {
	border-top: 1px solid #eee;
}

.matrixaddons-field-text input,
.matrixaddons-field-select select,
#geo_maps_map_type .matrixaddons-fieldset,
#geo_maps_osm_map_provider .matrixaddons-fieldset {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

.matrixaddons-field-group .matrixaddons-repeater-item h4 {
	font-size: 1em;
}

.matrixaddons-field .matrixaddons-title h4 {
	margin: 0;
	color: #23282d;
}

.matrixaddons-field-textarea textarea {
	width: 100%;
	max-width: 100%;
	min-height: 125px;
}

.matrixaddons-field-group .matrixaddons-repeater-item {
	/* display: none; */
	position: relative;
	margin-bottom: 5px;
}

.matrixaddons-field-group .matrixaddons-repeater-helper {
	position: absolute;
	top: 12px;
	right: 10px;
	z-index: 1;
	font-size: 14px;
	line-height: 1em;
}

.matrixaddons-field-group .matrixaddons-repeater-helper i {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	color: #999;
}

.geo_maps_marker_item_position {
	width: 100%;
	height: 200px;
	position: relative;
	outline: none;
	display: block;
}

.matrixaddons-field#location .matrixaddons-fieldset {
	display: flex;
	gap: 0px;
	align-items: center;
	position: relative;
}

.geo-maps-location-search-button {
	cursor: pointer;
	padding: 0 5px;
	line-height: 30px;
	min-height: 28px;
	display: block;
}

.geo-maps-location-lists {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid #e0e0e0;
	background: #fff;
	margin: 0;
	z-index: 99999;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	max-height: 350px;
	overflow-x: auto;
}

.geo-maps-location-lists li {
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 0 !important;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.geo-maps-location-lists li:hover {
	background: #e0e0e0;
}

textarea.geo-maps-shortcode-copy {
	padding: 10px;
	margin: 0 1px;
	background: #f0f0f1;
	background: rgba(0, 0, 0, .07);
	height: 45px;
	overflow: hidden;
	text-align: center;
	border: none;
	width: 100%;
	margin-top: 10px;
	color: #3c434a;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}

select.geo-maps-map-type,
select.geo-maps-osm-map-provider {
	width: 100% !important;
}

.matrixaddons-image-field-wrap {
	width: 100%;
	display: inline-block;
}

.matrixaddons-image-field-wrap .matrixaddons-image-field-add {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	padding: 10px 0px 20px 0px;
	background: #FFFFFF;
	border: 1px dashed #074771;
	border-radius: 4px;
}

.matrixaddons-image-field-wrap .image-container {
	max-width: 100%;
	overflow: hidden;
}

.matrixaddons-image-field-wrap .image-container {
	float: left;
	position: relative;
	cursor: pointer;
	width: 150px;
}

.field-container {
	width: calc(100% - 150px);
	float: right;
}

.matrixaddons-image-field-wrap .image-container:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.matrixaddons-image-field-wrap .image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.matrixaddons-image-field-wrap .image-content {
	width: 100%;
	height: 100%;
	position: relative;
}

.matrixaddons-image-field-wrap .image-container img {
	display: block;
	width: 100%;
	height: 100%;

	border-radius: 4px;
}

.matrixaddons-image-field-wrap .image-container .image-overlay {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: none;
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	border-radius: 4px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 7, 63, 0.7)), to(rgba(0, 7, 63, 0.7)));
	background: -o-linear-gradient(bottom, rgba(0, 7, 63, 0.7), rgba(0, 7, 63, 0.7));
	background: linear-gradient(0deg, rgba(0, 7, 63, 0.7), rgba(0, 7, 63, 0.7));
	cursor: -webkit-grab;
	cursor: grab;
}

.matrixaddons-image-field-wrap .image-container a.remove {
	color: #fff;
	cursor: pointer;
	width: 13%;
	height: 13%;
	min-width: 16px;
	min-height: 16px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.matrixaddons-image-field-wrap .image-container:hover .image-overlay {
	display: flex;
}

.matrixaddons-image-field-wrap .matrixaddons-field .matrixaddons-title {
	position: relative;
	width: 30%;
	float: left;
}

.matrixaddons-image-field-wrap .matrixaddons-field .matrixaddons-fieldset {
	float: right;
	width: calc(70% - 20px);
}

.matrixaddons-field-hidden {
	display: none;
}
